<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Tasks</title>

    <style>
      DIV.table 
      {
          display:table;
      }
      FORM.tr, DIV.tr
      {
          display:table-row;
      }
      SPAN.td
      {
          display:table-cell;
      }
    </style>
  </head>
  <body>

    <h2>Tasks</h2>
      <div class="table" style="width: 70%;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Interface</th>
            <th scope="col">Active</th>
            <th scope="col">Thread ID</th>
            <th scope="col">Sniff mode</th>
            <th scope="col">Schedule</th>
            <th scope="col">Action</th>
          </tr>

          {% for task in sniffer_tasks %}
            <form class="tr" method="post" action="/remove_task">
              <span class="td">
                <input type="hidden" name="id" value="{{ task.id }}">{{ task.id }}</span>
              <span class="td">{{ task.iface }}</span>
              <span class="td">{{ task.active }}</span>
              <span class="td">{{ task.thread_id }}</span>
              {% if task.dynamic %}
                <span class="td">Dynamic</span>
              {% else %}
                <span class="td">Static</span>
              {% endif %}
              <span class="td">{{ task.schedule }}</span>
              {% if task.active %}
                <span class="td">
                  <button type="submit" formaction="/stop_sniffer" class="btn btn-danger" role="button">Stop</button>
                  <button type="submit" class="btn btn-danger" role="button">Delete</button>
                </span>
              {% else %}
                <span class="td">
                  <button type="submit" formaction="/start_sniffer" class="btn btn-success" role="button">Start</button>
                  <button type="submit" class="btn btn-danger" role="button">Delete</button>
                </span>
              {% endif %}
            </form>
          {% endfor %}
      </div>
    
    <h2>Add new task</h2>

    <form class="form-inline" style="margin-right: 10px;", method="post" action="/add_task">
      <div class="form-group" style="margin-right: 10px;">
        <select name="iface" id="sel_iface" class="form-select form-select-sm" aria-label=".form-select-sm example">
            {% for iface in interfaces %}
              <option value="{{ iface }}"">{{ iface }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <select name="sniff_mode" id="sel_sniff_mode" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="static"">Static</option>
              <option value="dynamic"">Dynamic</option>
        </select>
      </div>
      <div class="form-group" style="margin-left: 10px;">
        <button type="submit" class="btn btn-primary mb-2">Add</button>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='sniffplayer.js')}}"></script>
  </body>
</html>